h1, h2 {
    font-weight: 100px;
}

canvas {
    border: 1px solid rgba(0,0,0, 0.12);
}

button {
    width: 138px;
    border-radius: 0 !important;
}

a {
    color: inherit;
    font-weight: 100;
}

table {
    width: 280px;
    margin: auto;
}

td {
    width: 33px;
}

td.label {
    font-size: 1.25rem;
}

img {
    max-width: 100%;
}
